*{
    margin: 0;
    padding: 0;
    font-family: montserrat;
    transition: 0.3s ease;
}
body{
    box-sizing: border-box;
    overflow-x: hidden;
}
.logo-and-navbar{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 2px 3px 0 rgba(0,0,0,.1);
}
.nav-links{
    width: 40%;
    height: auto;
    align-items: center;
    display: flex;
    justify-content: space-around;
}
.nav-links li{
    list-style: none;
}
.nav-links li a{
    text-decoration: none;
    color: black;
    font-size: 12px;
    transition: 0.3s ease;
}
.nav-links li a:hover{
    color: #00c8e4;
}
.burger{
    display: none;
}
.burger div{
    background-color: black;
    width: 25px;
    height: 3px;
    border-radius: 3px;
    margin: 3px;
}
.overlay{
    height: 661px;
    width: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: transparent;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: 0.2s ease;
}
.overlay_content{
    display: flex;
    height: 100%;
    flex-direction: column;
    background-color: white;
    font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 0px 2px 3px 0 rgba(0,0,0,.5);
}
.overlay li{
    list-style: none;
}
.overlay-links{
    padding-left: 3%;
    padding-top: 5%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.overlay-links li a{
    color: black;
    font-size: 12px;
    text-decoration: none;
    letter-spacing: 3px;
    transition: all 0.3s ease;
}
.logo-and-close-button{
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 2px solid #00c8e4;
}
.close-button{
    width: 10%;
    display: flex;
    justify-content: center;
    font-size: 20px;
}
.login{
    background-color: #00c8e4;
    height: 40px;
    width: 70px;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    font-size: 12px;
    transition: 0.3s ease;
}
.login:hover{
    background-color: white;
    border: 1px solid #00c8e4;
    color: #00c8e4;
}
#search-div-2{
    display: none;
}
.search-div{
    width: 400px;
    height: 80px;
    display: flex;
    align-items: center;
}
.search-bar{
    width: 100%;
    height: 45px;
    display: flex;
    background-color: white;
    border: 1px solid rgb(218, 217, 217);
}
.input-box{
    transition: 0.4s ease-in-out;
    width: 90%;
    height: 100%;
    border-radius: 50px;
    border: none;
    background: none;
    padding-left: 5px;
    outline: none;
    color: black;
}
::-webkit-input-placeholder{
    padding-left: 10px;
    color: rgb(109, 109, 109);
    font-size: 12px;
}
.search-bar a{
    text-decoration: none;
}
.btn{
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 5px;
    background-color: white;
    color: #00c8e4;  
    border-radius: 50%; 
    width: 10.5%;
    height: 100%;
    line-height: 40px;
    text-align: center;
}
.wrapper-for-landing-photo{
    width: 100%;
    display: flex;
    height: 575px;
    flex-wrap: wrap;
}
.first-write-up{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 45%;
    padding-left: 3%;
    height: 400px;
}
.head{
    display: flex;
    font-size: 50px;
    letter-spacing: 0.05em;
    font-weight: 600;
    font-family: Montserrat;
}
.write-up{
    font-family: montserrat;
    width: 550px;
    line-height: 35px;
    font-size: 12px;
}
.fa-search{
    cursor: pointer;
}
.btn2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 35px;
    background-color: #00c8e4;
    color: white;
    border-radius: 3px;
    font-size: 12px;
    cursor: pointer;
    transition: 0.2s ease;
}
.btn2:hover{
    background-color:  white;
    color: #00c8e4;
    border: 1px solid #00c8e4;
}
.label-image{
    margin-top: 1%;
    width: 52%;
    height: 550px;
    background-image: url('3327730.jpg');
    background-position: center;
    background-size: cover;
}
.how-it-works{
    padding-top: 2%;
    width: 100%;
    height: 500px;
    margin-top: 5%;
    background-color: rgb(250, 250, 250);
}
.fa-question{
    color: #00c8e4;
    padding-left: 1%;
}
.how-it-works-header{
    font-size: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.how-it-works-boxes{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1%;
}
.illustration-box1{
    background-color: white;
    width: 22%;
    height: 300px;
    border-radius: 3%;
    position: relative;
    box-shadow: 0px 2px 5px rgb(0,0,0,0.4);
}
.illustration-box2{
    background-color: white;
    width: 22%;
    height: 300px;
    border-radius: 3%;
    position: relative;
    box-shadow: 0px 2px 5px rgb(0,0,0,0.4);
}
.illustration-box3{
    background-color: white;
    width: 22%;
    height: 300px;
    border-radius: 3%;
    position: relative;
    box-shadow: 0px 2px 5px rgb(0,0,0,0.4);
}
.number-div{
    position: absolute;
    width: 75px;
    height: 75px;
    top: -14%;
    z-index: 10;
    left: 37.5%;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0px 2px 5px rgb(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #00c8e4;
    font-size: 25px;
}
.houses-on-rent{
    margin-top: 5%;
}
.house-cards{
    width: 100%;
    margin-top: 4%;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.rentals-header{
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 40px;
}
.house1{
    cursor: pointer;
    border-radius: 7px;
    width: 30%;
    height: 310px;
    display: flex;
    flex-direction: column;
    transition: 0.3s ease;
    box-shadow: 0px 2px 3px 0 rgba(0,0,0,.2);
}
.house1:hover{
    box-shadow: rgb(209, 209, 213) 0px 5px 15px;
}
.house2{
    cursor: pointer;
    border-radius: 4px;
    width: 30%;
    height: 310px;
    display: flex;
    transition: 0.3s ease;
    flex-direction: column;
    box-shadow: 0px 2px 3px 0 rgba(0,0,0,.2);
}
.house2:hover{
    box-shadow: rgb(209, 209, 213) 0px 5px 15px;
}
.house3{
    cursor: pointer;
    width: 30%;
    height: 310px;
    border-radius: 4px;
    display: flex;
    transition: 0.3s ease;
    flex-direction: column;
    box-shadow: 0px 2px 3px 0 rgba(0,0,0,.2);
}
.house3:hover{
    box-shadow: rgb(209, 209, 213) 0px 5px 15px;
}
.house1-image{
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('17926.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 70%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.house2-image{
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)),url('12375.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 70%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.house3-image{
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('2681849.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 70%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.house-wrapper{
    margin-top: auto;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    height: 25%;
    width: 90%;
}
#house-name{
    color: #00c8e4;
    font-size: 30px;
}
#house-details{
    font-size: 12px;
    line-height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #00c8e4;
}
.info-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    color: white;
    background-color: #00c8e4;
    border-radius: 3px;
    font-size: 12px;
    cursor: pointer;    
    transition: 0.3s ease;
}
.info-btn:hover{
    background-color: white;
    border: 1px solid #00c8e4;
    color: #00c8e4;
}
.price{
    color: #00c8e4;
    font-size: 25px;
}
.button-and-price{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.subscription-div{
    width: 100%;
    height: 500px;
    display: flex;
}
.subscription-image{
    width: 47%;
    height: 500px;
    background-image: url('3405471.jpg');
    background-position: center;
    background-size: cover;
}
.subscription-details{
    padding-top: 5%;
    padding-left: 3%;
    width: 53%;
    display: flex;
    flex-direction: column;
}
.subscription-header{
    width: 95%;
    display: flex;
    flex-direction: column;
    font-size: 40px;  
}
.input-section{
    margin-top: 2%;
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.subscribe-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    color: #00c8e4;
    background-color: white;
    border: 1px solid #00c8e4;
    border-radius: 3px;
    font-size: 14px;
    cursor: pointer;    
    transition: 0.3s ease;
}
.subscribe-button:hover{
    font-size: 12px;
}
.subscribe-box{
    width: 80%;
    height: 35%;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgb(218, 217, 217);
}

p1{
    font-size: 12px;
    color: rgb(90, 90, 90);
}
.testimonial-div{
    margin-top: 7%;
    width: 100%;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.testimonial-header{
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 40px;
}
.testimonial-blocks{
    background-color: whitesmoke;
    height: 500px;
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
}
.tb1{
    width: 22%;
    height: 275px;
    margin-top: 10%;
    border-radius: 3%;
    background-color: white;
    box-shadow: 0px 2px 5px rgb(0,0,0,0.4);
}
.tb2{
    width: 22%;
    border-radius: 3%;
    height: 275px;
    margin-top: 5%;
    background-color: white;
    box-shadow: 0px 2px 5px rgb(0,0,0,0.4);
}
.tb3{
    width: 22%;
    height: 275px;
    border-radius: 3%;
    margin-top: 14%;
    background-color: white;
    box-shadow: 0px 2px 5px rgb(0,0,0,0.4);
}
.tb4{
    width: 22%;
    height: 275px;
    border-radius: 3%;
    margin-top: 8%;
    background-color: white;
    box-shadow: 0px 2px 5px rgb(0,0,0,0.4);
}
.profile-pic-and-name{
    display: flex;
    align-items: center;
    width: 100%;
    height: 36%;
    justify-content: space-around;
}
.name{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80%;
    width: 60%;
    font-size: 20px;
    color: #00c8e4;
}
p{
    font-size: 12px;
    color: rgb(90, 90, 90);
}
.profile-pic{
    width: 30%;
    height: 90%;
    border-radius: 50%;
    box-shadow: 0px 2px 5px rgb(0,0,0,0.2);
}
.testimonial{
    font-size: 12px;
    margin: auto;
    margin-top: 7%;
    width: 90%;
    height: 52%;
    line-height: 30px;
}
footer{
    padding-top: 0.3%;
    margin-top: 4%;
    width: 100%;
    height: 520px;
    border-top: 1px solid rgb(218, 217, 217);
    display: flex;
    flex-direction: column;
}
.something{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}
.logo-and-icons{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icons{
    display: flex;
    width: 22%;
    height: 100px;
    align-items: center;
    justify-content: space-around;
}
.facebook{
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 10px;
    align-items: center;
    justify-content: center;
    color: white;
    background-color:  #3b5998;
}
.facebook a{
    color: white;
}
.twitter{
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 10px;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #00acee;
}
.twitter a{
    color: white;
}
.youtube{
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 10px;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: red;
}
.youtube a{
    color: white;
}
.instagram{
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 10px;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgb(228, 55, 84);
}
.instagram a{
    color: white;
}
.linkedin{
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 10px;
    align-items: center;
    justify-content: center;
    color: white;
    background-color:  #0e76a8;
}    
.linkedin a{
    color: white;
}
.footer-links{
    display: flex;
    justify-content: center;
    width: 100%;
}
.footer-links-shell{
    width: 70%;
}
.f-links{
    display: flex;
    justify-content: space-around;
}
.f-links li{
    list-style: none;
}
.f-links li a{
    text-decoration: none;
    color: black;
    font-size: 12px;
    transition: 0.2s ease;
}
.f-links li a:hover{
    color: #00c8e4;
}
.ending-scope{
    width: 85%;
    margin-left: 7.5%;
    font-size: 12px;
    line-height: 33px;
    margin-top: 3%;
}
.footer-image{
    width: 100%;
    display: flex;
    justify-content: center;
}
.footer-image-shell{
    width: 600px;
    height: 300px;
}
@media screen and (max-width: 1024px){
    .search-div{
        width: 300px;
        height: 80px;
        display: flex;
        align-items: center;
    }
    .label-image{
        height: 500px;
    }
    .first-write-up{
        height: 450px;
    }
    .write-up{
        width: 400px;
    }
    .illustration-box1{
        width: 27%;
    }
    .illustration-box2{
        width: 27%;
    }
    .illustration-box3{
        width: 27%;
    }
    .price{
        font-size: 19px;
    }
    .profile-pic{
        width: 30%;
        height: 70%;
    }
    .tb1{
        width: 23%;
    }
    .tb2{
        width: 23%;
    }
    .tb3{
        width: 23%; 
    }
    .tb4{
        width: 23%;
    }
}
@media screen and (max-width: 1000px){
    .wrapper-for-landing-photo{
        flex-direction: column-reverse;
        height: 1100px;
        position: relative;
    }
    .label-image{
        position: absolute;
        top: -.1%;
        width: 100%;
    }
    .first-write-up{
        width: auto;
        align-items: center;
        height: 550px;
    }
    .write-up{
        display: flex;
        justify-content: center;
        width: 80%;
        text-align: center;
    }
    .search-div{
        display: none;
    }
    #search-div-2{
        display: flex;
        width: 80%;
    }
    .head{
        font-size: 60px;
    }
    .nav-links{
        width: 50%;
    }
    .how-it-works{
        padding-top: 3%;
        height: 1300px;
    }
    .how-it-works-boxes{
        height: 1250px;
        display: flex;
        flex-direction: column;
    }
    .illustration-box1{
        width: 40%;
    }
    .illustration-box2{
        width: 40%;
    }
    .illustration-box3{
        width: 40%;
    }
    .houses-on-rent{
        height: 1300px;
    }
    .house-cards{
        height: 1150px;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .house1{
        width: 50%;
    }
    .house2{
        width: 50%;
    }
    .house3{
        width: 50%;
    }
    .subscription-div{
        display: flex;
        flex-direction: column;
        height: 800px;
    }
    .subscription-image{
        width: 80%;
    }
    .subscription-details{
        width: 90%;
        height: 40%;
    }
    .testimonial-div{
        height: 1600px;
    }
    .testimonial-blocks{
        height: 1500px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .profile-pic{
        width: 22%;
        height: 70%;
        border-radius: 50%;
        box-shadow: 0px 2px 5px rgb(0,0,0,0.2);
    }    
    .tb1{
        width: 40%;
        margin-top: -3%;
    }
    .tb2{
        width: 40%;
        margin-top: -75px;
    }
    .tb3{
        width: 40%;
        margin-top: -90px;
    }
    .tb4{
        width: 40%;
        margin-top: -63.8281px;
    }
    .icons{
        width: 26%;
    }
}
@media screen and (max-width: 670px){
    .nav-links{
        width: 60%;
    }
    .head{
        font-size: 40px;
    }
}
@media screen and (max-width: 620px){
    .nav-links{
        display: none;
    }
    .burger{
        display: block;
    }
    .illustration-box1{
        width: 60%;
    }
    .illustration-box2{
        width: 60%;
    }
    .illustration-box3{
        width: 60%;

    }
    .house1{
        width: 60%;
    }
    .house2{
        width: 60%;
    }
    .house3{
        width: 60%;
    }
    .tb1{
        width: 60%;
    }
    .tb2{
        width: 60%;
    }
    .tb3{
        width: 60%;
    }
    .tb4{
        width: 60%;
    }
    .icons{
        width: 35%;
    }
    footer{
        height: 900px;
    }
    .footer-links{
        height: 300px;
    }
    .footer-links-shell{
        height: 300px;
    }
    .f-links{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 300px;

    }
}
@media screen and (max-width: 580px){
    #f-image{
        display: none;
        width: 280px;
        height: 300px;
    }
    .footer-image{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .footer-image-shell{
        width: 100%;
        height: 300px;
        background-image: url('2928966.jpg');
        background-position: center;
        background-size: cover;
    }
}
@media screen and (max-width: 565px){
    .wrapper-for-landing-photo{
        height: 950px;
    }
    .label-image{
        height: 400px;
    }
    .testimonial-div{
        height: 1900px;
    }
    .testimonial-blocks{
        height: 1800px;
    }
}
@media screen and (max-width: 538px){
    .testimonial-div{
        height: 2000px;
    }

}
@media screen and (max-width: 480px){
    .head{
        font-size: 20px;
    }
    .illustration-box1{
        width: 75%;
    }
    .illustration-box2{
        width: 75%;
    }
    .illustration-box3{
        width: 75%;
    }
    .house1{
        width: 75%;
    }
    .house2{
        width: 75%;
    }
    .house3{        
        width: 75%;
    }
    .subscription-div{
        height: 800px;
    }
    .subscription-details{
        height: 50%;
        margin-top: 10%;
    }
    .subscription-image{
        height: 300px;
    }
    .tb1{
        width: 75%;
        height: 300px;
    }
    .tb2{
        width: 75%;
        height: 300px;
    }
    .tb3{
        width: 75%;
        height: 300px;
    }
    .tb4{
        width: 75%;
        height: 300px;
    }
    footer{
        position: relative;
        height: 1200px;
    }
    .logo-and-icons{
        width: 75%;
        justify-content: flex-start;
        top: 1%;
        position: absolute;
        display: flex;
        flex-direction: column;
    }
    .footer-links{
        margin-top: 30%;
    }
    .icons{
        width: 70%;
    }

}
@media screen and (max-width: 448px){
    .label-image{
        height: 350px;
    }
    .head{
        font-size: 20px;
    }
    .how-it-works-header{
        font-size: 30px;
    }
    .rentals-header{
        font-size: 30px;
    }
    .testimonial-header{
        font-size: 30px;
    }
    .icons{
        width: 40%;
    }
    .illustration-box1{
        width: 85%;
    }
    .illustration-box2{
        width: 85%;
    }
    .illustration-box3{
        width: 85%;
    }
    .house1{
        width: 85%;
    }
    .house2{
        width: 85%;
    }
    .house3{        
        width: 85%;
    }
    .tb1{
        width: 85%;
        height: 300px;
    }
    .tb2{
        width: 85%;
        height: 300px;
    }
    .tb3{
        width: 85%;
        height: 300px;
    }
    .tb4{
        width: 85%;
        height: 300px;
    }
    .subscription-details{
        height: 52%;
    }
    .icons{
        width: 80%;
    }
}
@media screen and (max-width: 400px){
    .label-image{
        height: 300px;
    }
    .wrapper-for-landing-photo{
        height: 900px;
    }
    .subscription-image{
        height: 250px;
    }
}
